@import url('../../index.css');

.habits-stats {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1rem;
    grid-area: habitStats;

    box-shadow: var(--box-shadow);
}

.habits-stats.loading {
    background-color: var(--background-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}